<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImportPods.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B2192BE1F034F6B00A971DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B2192D21F034F6B00A971DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B2192DD1F034F6B00A971DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
